# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
MinecraftForge-Credits.txt
LICENSE-fml.txt
*-changelog.txt
CREDITS-fml.txt
*.zip
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
MinecraftForge-License.txt
